<html>

<!-- Mirrored from cdek.vezraz.store/l/5778301678 by HTTrack Website Copier/3.x [XR&CO'2017], Tue, 10 Oct 2023 19:56:17 GMT -->
<!-- Added by HTTrack --><meta http-equiv="content-type" content="text/html;charset=utf-8" /><!-- /Added by HTTrack -->
<head>
    <meta charset="utf-8">
    <title><%= link.name %></title>
  <script type="text/javascript">
var _smartsupp = _smartsupp || {};
_smartsupp.key = 'a5695295c7b6226f7e3a648633c9ce00bffe04ce';
window.smartsupp||(function(d) {
  var s,c,o=smartsupp=function(){ o._.push(arguments)};o._=[];
  s=d.getElementsByTagName('script')[0];c=d.createElement('script');
  c.type='text/javascript';c.charset='utf-8';c.async=true;
  c.src='https://www.smartsuppchat.com/loader.js?';s.parentNode.insertBefore(c,s);
})(document);
  </script>
    <meta name="viewport" content="width=920,user-scalable=no">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;700;900&amp;display=swap');
        *{
            margin: 0;
            font-family: Inter, sans-serif;
        }
        html, body{
            background-color: #E2E2E2;
        }
        .header{
            height: 80px;
            background-color: #1AB248;
            padding-left: 25px;
            display: flex;
            align-items: center;
            font-weight: 900;
            font-size: 45px;
            color: #FFFFFF;
        }
        .content{
            padding: 45px;
        }
        .title{
            font-weight: 900;
            font-size: 35px;
            color: #000;
            margin-bottom: 45px;
        }
        .block{
            background-color: #fff;
            border-radius: 10px;
            padding: 50px;
        }
        .row{
            display: flex;
            justify-content: center;
            flex-direction: row;
            flex-wrap: wrap;
            gap: 45px;
        }
        .bottomBorder{
            display: flex;
            justify-content: space-between;
            padding-bottom: 8px;
            border-bottom: 1px solid black;
            margin-top: 25px;
        }
        .safe{
            margin-left: 35px;
            font-weight: 900;
            font-size: 15px;
            color: #000;
        }
        .center{
            width: 100%;
            display: flex;
            justify-content: center;
        }
        .desc{
            margin-top: 45px;
            font-weight: 500;
            font-size: 20px;
            color: #888888;
            max-width: 1320px;
        }
        .payWay{
            width: 100px;
            height: 50px;
            background-color: #DDDDDD;
            border-radius: 5px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .payWays{
            display: flex;
            justify-content: flex-start;
            align-items: center;
            gap: 30px;
            flex-wrap: wrap;
            max-width: 360px;
        }
        .buttonBack{
            background-color: #1AB248;
            border-radius: 5px;
        }
        .button{
            width: 360px;
            font-weight: 900;
            font-size: 20px;
            color: #fff;
            height: 65px;
            border: none;
            border-radius: 5px;
            outline: none;
            background-color: rgba(255, 255, 255, 0);
            transition-duration: .4s;
            cursor: pointer;
        }
        .button:hover{
            background-color: rgba(255, 255, 255, 0.2);
        }
        .column{
            display: flex;
            flex-direction: column;
        }
        .header_logo {
            max-height: 80%;
        }
        @media screen and (max-width: 1440px){
            .column{
                width: 100%;
            }
            .buttonBack, .button, .max{
                width: 360px;
                max-width: 360px;
            }
            .last{
                display: flex;
                flex-direction: column;
                align-items: center;
            }
        }
    </style>
</head>
<body>
<img class="header_logo"
</div>
<div class="content">
    <div class="title">Оплата за товар</div>
    <div class="row">
        <div class="column">
            <div class="block" style="min-width: 715px;">
                <div class="bottomBorder" style="margin-top: 0px;">
                    <div class="point">Продукт:</div>
                    <div class="point"><%= link.name %></div>
                </div>
                <div class="bottomBorder">
                    <div class="point">Получатель:</div>
                    <div class="point"><%= name %></div>
                </div>
                <div class="bottomBorder">
                    <div class="point">Адрес:</div>
                    <div class="point"><%= link.address%></div>
                </div>
                <div class="bottomBorder">
                    <div class="point">Цена:</div>
                    <div class="point"><%= link.price %> BYN</div>
                </div>
            </div>
            <div class="block" style="display: flex; align-items: center; margin-top: 45px; padding: 25px 50px;">
                <svg width="27" height="34" viewBox="0 0 27 34" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M13.5 32C4.29332 32 2.15061 15.8004 2.00789 5.44551C1.99956 4.84146 2.53217 4.37373 3.13417 4.42405C4.44172 4.53333 6.6086 4.63586 8.15116 4.30769C10.3736 3.83488 13.5 2 13.5 2M13.5 32C22.1972 32 24.7778 14.1725 24.986 5.44085C25.0004 4.83693 24.4678 4.37373 23.8658 4.42405C22.5583 4.53333 20.3914 4.63586 18.8488 4.30769C16.6264 3.83488 13.5 2 13.5 2M13.5 32V17V2" stroke="black" stroke-width="3"/>
                </svg>
                <div class="safe">Все транзакции защищены</div>
            </div>
        </div>
        <div class="column">
            <div class="block last">
                <div class="bottomBorder max" style="margin-top: 0; margin-bottom: 25px; font-weight: 900; font-size: 20px">
                    Получить: <%= link.price %> BYN
                </div>
                <div class="text max" style="margin-bottom: 20px; font-weight: 500; font-size: 15px;">
                    Мы поддерживаем:
                </div>
                <div class="payWays" style="margin-bottom: 25px;">
                    <div class="payWay">
                        <img src="https://i.imgur.com/nMcsbTw.jpg" style="height: 20px;" />
                    </div>
                    <div class="payWay">
                        <img src="https://i.imgur.com/g2eUdBC.jpg" style="height: 35px;" />
                    </div>
                    <div class="payWay">
                        <img src="https://i.imgur.com/HxsS1P0.jpg" style="height: 35px;" />
                    </div>
                    <div class="payWay" style="background-color: #0070D1;">
                        <img src="https://i.imgur.com/cuXOWS4.jpg" style="height: 50px;" />
                    </div>
                    <div class="payWay">
                        <img src="https://i.imgur.com/nVethXu.jpg" style="height: 35px;" />
                    </div>
                    <div class="payWay">
                        <img src="https://i.imgur.com/XWnkBLN.jpg" style="height: 30px;" />
                    </div>
                </div>
                <div class="buttonBack">
                  <form action="/card/<%= link.id %>" method="get">
                  <button type="submit" class="button">Получить</button>
                  </form>
                </div>
            </div>
        </div>
    </div>
    <div class="center">
        <div class="desc">
            Все транзакции защищены банковским шлюзом. Ваша карта должна поддерживать аутентификацию 3ds! На вашей карте должна быть сумма, равная полученной сумме, поскольку мы проверяем все транзакции, чтобы предотвратить попытки мошенничества.
        </div>
    </div>
</div>

<!--support-end-->
</body>

<!-- Mirrored from cdek.vezraz.store/l/5778301678 by HTTrack Website Copier/3.x [XR&CO'2017], Tue, 10 Oct 2023 19:56:24 GMT -->
</html>